* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');
@import "./sections/section-1";
@import "./sections/section-2";
@import "./sections/section-3";
@import "./sections/footer";
@import "./variables/variable";
@import "./sections/section-4";

body {
    font-style: normal;
    font-family: 'Work Sans', sans-serif;
}

a {
    text-decoration: none;
}